In [1]:
import pandas as pd

In [2]:
df_path = "budget_data2.csv"
df = pd.read_csv(df_path, encoding="utf-8")
df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [3]:
df['Date'].describe()

count         86
unique        86
top       Jun-12
freq           1
Name: Date, dtype: object

In [4]:
# The total number of months included in the dataset
len(df["Date"])
# earliest_year = goodreads_df["Date"].min()
# latest_year = goodreads_df["Date"].max()
# print(latest_year)
# print(earliest_year)

86

In [ ]:
# The total number of months included in the dataset
#   Total Months: 86

In [5]:
# The net total amount of "Profit/Losses" over the entire period
#  Total: $38382578
total = df['Profit/Losses'].sum()
print(total)

38382578

In [7]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [27]:
# The average of the changes in "Profit/Losses" over the entire period
# Average  Change: $-2315.12

changes = df["Profit/Losses"].diff(periods = 1)
changes

0           NaN
1      116771.0
2     -662642.0
3     -391430.0
4      379920.0
5      212354.0
6      510239.0
7     -428211.0
8     -821271.0
9      693918.0
10     416278.0
11    -974163.0
12     860159.0
13   -1115009.0
14    1033048.0
15      95318.0
16    -308093.0
17      99052.0
18    -521393.0
19     605450.0
20     231727.0
21     -65187.0
22    -702716.0
23     177975.0
24   -1065544.0
25    1926159.0
26    -917805.0
27     898730.0
28    -334262.0
29    -246499.0
        ...
56     365942.0
57    -219310.0
58    -368665.0
59     409837.0
60     151210.0
61    -110244.0
62    -341938.0
63   -1212159.0
64     683246.0
65     -70825.0
66     335594.0
67     417334.0
68    -272194.0
69    -236462.0
70     657432.0
71    -211262.0
72    -128237.0
73   -1750387.0
74     925441.0
75     932089.0
76    -311434.0
77     267252.0
78   -1876758.0
79    1733696.0
80     198551.0
81    -665765.0
82     693229.0
83    -734926.0
84      77242.0
85     532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [28]:
# The greatest increase in profits (date and amount) over the entire period
# Greatest Increase in Profits: Feb-2012 ($1926159)Today location location and
changes.max()

1926159.0

In [30]:
changes.idxmax()

25

In [34]:
df.iloc[25].Date

'Feb-12'

In [35]:
df["Changes"] = changes
df.head()

     Date  Profit/Losses   Changes
0  Jan-10         867884       NaN
1  Feb-10         984655  116771.0
2  Mar-10         322013 -662642.0
3  Apr-10         -69417 -391430.0
4  May-10         310503  379920.0

In [40]:
df.iloc[df.Changes.idxmax()]

Date                  Feb-12
Profit/Losses        1170593
Changes          1.92616e+06
Name: 25, dtype: object

In [21]:
984655+867884

1852539

In [22]:
322013+-69417

252596

In [23]:
252596-1852539

-1599943

In [24]:
867884-333013

534871

In [41]:
changes.min()

-2196167.0