In [5]:
import pandas as pd

In [6]:
df_path = "budget_data2.csv"
df = pd.read_csv(df_path, encoding="utf-8")
df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [7]:
df['Profit/Losses'].describe()

count    8.600000e+01
mean     4.463090e+05
std      5.363579e+05
min     -1.196225e+06
25%      1.821620e+05
50%      5.703280e+05
75%      7.952262e+05
max      1.170593e+06
Name: Profit/Losses, dtype: float64

In [87]:
# The total number of months included in the dataset

earliest_year = goodreads_df["Date"].min()
latest_year = goodreads_df["Date"].max()
print(latest_year)
print(earliest_year)

Sep-16
Apr-10

In [88]:
# The total number of months included in the dataset
#   Total Months: 86

In [8]:
# The net total amount of "Profit/Losses" over the entire period
#  Total: $38382578
total = df['Profit/Losses'].sum()
print(total)

38382578

In [10]:
# The average of the changes in "Profit/Losses" over the entire period
# Average  Change: $-2315.12

max = df.mean()
print(max)

Profit/Losses    446309.046512
dtype: float64

In [12]:
# The greatest increase in profits (date and amount) over the entire period
# Greatest Increase in Profits: Feb-2012 ($1926159)Today location location and
compare_one = df.Profit/Losses.max()
print(compare_one)

AttributeError: 'DataFrame' object has no attribute 'Profit'